<!---
@brief registrace šablona
@autor jakub komárek (xkomar33)
--->
{block content}
    <div class="signIn">
        <div class="signInCont">
            <img src = "{$basePath}/img/largeLogo.svg" alt="Large logo"/>
            <h1>Registrace</h1>
            {control signUpForm}
            <a href="{link :Login:SignIn:}">Přihlášení</a>
        </div>
    </div>
{/block content}