<!---
@brief 
@author Adrián Matušík (xmatus35)
--->
{block content}
<div  class="edit">
    <div class="signIn">
        <div class="signInCont">

            {control editProfileForm}
        </div>
    </div>
    <script>
        $(".menuItem").removeClass('higlited');
        $("#profil").addClass('higlited');						
	</script>
</div>
{/block content}