body{
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: Ubuntu, Arial, Helvetica, sans-serif;
    color: #656565;
    font-size: 1rem; 
}
header{
    color:white;
    background-image: url('footer_bg.gif');
    width: 100%;
    padding: 0;
    margin: 0;
}
h1{
    margin: 0;
    padding-top: 30px;
}
h2{
    margin: 0;
    color: #b15e23;
}
h3{
    color: #3c1f0a;
}
a{
    text-decoration: none;
}
nav{
    padding-left: 0;
    background-color: #b15e23;
    overflow: hidden;
    position: relative;
}
hr{
    border-top: 1px dotted #b15e23;
    margin-top: 0;
    clear: both;
    padding-right: 5rem;
    margin-right: 1rem;
}
table{
    text-align: center;
    width: 100%;
    font-size: 1rem;
    padding: 1rem;
    padding-left: 0;
    padding-right: 2rem;
    box-sizing: border-box;
}
th{
    border: 1px solid white;
    background-color: #d5a17c;
    text-align: center;
}
td:first-child{
    text-align: left;
}
header a{
    text-decoration: none;
    color: white;
    position: relative;
}
#zahlavie{
    padding: 1rem;
    margin: auto;
}
#zahlavie h1{
    font-size: 4rem;
}
#zahlavie h2{
    margin-bottom: 4rem;
}
#zahlavi{
    
    margin: 0 auto;
}
nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
 }
nav ul li{
    box-sizing: border-box;
    display: inline-block;
    cursor: pointer;
    position: relative;
}
#zahlavi li a{
    box-sizing: border-box;
    display: inline-block;
    padding: 1rem;
    font-size: 1rem;

}
#zahlavi a:hover,
#zahlavi a:focus{ 
    background-color: #3c1f0a;
    padding: 1rem;  
}
#predmet{
    background-image: linear-gradient(to right, lightgray, white);
    padding-bottom: 70px;
    padding-top: 10px;
    width: 100%;
}
#predmet h2,
#predmet p{
    padding: 1rem;
    margin: auto;
    text-align: left;  
    padding-top: 20px;
}
#tri{
    margin: 0 auto;
    width: 100%;
    overflow: hidden;
}
#prednasky a,
#cvicenie a{
    font-weight: 700;
    color: #3c1f0a;
}
#tri p{
    margin-bottom: 0;
}
#tri img{
    padding-top: 10px;
    margin-bottom: -15px;
}
#cvicenie a{
    display: block;
    margin-top: 15px;
}
#cvicenie img{
    padding-right: 20px;
    padding-bottom: 30px;
    padding-top: 15px;
    float: left;
}
footer{
    color:white;
    background-image: url('footer_bg.gif');
    margin-bottom: 0;
    padding-bottom: 15px;
    padding-top: 15px;
    padding: 1rem;
    width: 100%;
}
footer h2{
    color: white;
}
footer a{
    color: #d5a17c;
}
footer ul{
    list-style-image: url('footer_list_bullet.gif');
    margin-left: 0;
}
#info{
    width: 316px;
}
dt{
    text-align: left;
    float: left;
}
dd{
    text-align: right;
    padding-left: 3rem;
}
dt,
dd{
    padding-bottom: 5px;
}
#dve{
    width: 100%;
    display: block;
    float: left;
}
#vpravo{
    margin-top: 2px;
    width: 100%;
    background-image: linear-gradient(to right, lightgray, white);
}
#cvicenie{
    padding: 15px 0 0 50px;
    width: 100%;
}
#kontakt{
    width: 100%;
    display: block;
    float: left;
}
#ostatne{
    width: 100%;
    display: inline-block;
}
#ostatne li{
    padding-bottom: 4px;
}
h5{
    padding: 0;
    margin: 0;
}
#prednasky img{
    float: left;
    padding: 15px;
    padding-left: 0;
    clear: both;
    padding-bottom: 25px;
}
#prednasky h2{
    padding-top: 15px;
    padding-bottom: 15px;
}
#prednasky hr,
#prednasky p{
    clear: right;
    padding-right: 1rem;
}
#prednasky .pred{
    
    
    text-align: left;
    padding-right: 20px;
    line-height: 20px;
}
#prehlad{
    clear: both;
    
}
#prehlad h2{
    padding-bottom: 10px;
}
#dve{
    padding: 1rem;
    background-color: white;
}
#cvicenie{
    padding: 1rem;
    overflow: hidden;
}
#cvicenie hr{
    margin-right: 2rem;
}
#lastli{
    position: absolute;
    right: 0;
    top: 0;
}
nav{
    position: relative;
}
.nav2{
    display: none;
}
.sticky{
    position: fixed;
    top: 0;
    z-index: 5;
    width: 100%;
}
@media only screen and (max-width: 576px){
    .navv.responsive {
        position: relative;
    }
    .navv.responsive li.nav2{
        clear: both;
        display: block;
        text-align: left;
        width: 100%;
        background-color: #b15e23;
    }
}

@media only screen and (min-width: 576px){
    .nav2{
        display: inline;
    }
    #lastli{
        display: none;
    }
    .nav2 span{
        display: none;
    }
    
}
@media only screen and (min-width: 768px){
    #prehlad{
        overflow: hidden;
    }
    table{
        box-sizing: border-box;
        width: 100%;
        padding-right: 1rem;
    }
    hr{
        padding-right: 1rem;
        margin-right: 0;
    }
    #prednasky h2{
        padding: 0;
    }
    #cvicenie p{
        padding-right: 2rem;
    }
    #dve
    {
        box-sizing: border-box;
        width: 60%;
        display: block;
        float: left;
    }
    #vpravo{
        box-sizing: border-box;
        width: 40%;
        float: right;
        padding-bottom: 110px;
    }
    #info{
        width: 100%;
    }
    #kontakt{
        box-sizing: border-box;
        width: 60%;
    }
    #kontakt dd{
        padding-right: 140px;
    }
    #ostatne{
        box-sizing: border-box;
        width: 40%;
    }
    #lastli{
        display: none;
    }
    .nav2{
        display: inline;
    }
    
}
@media only screen and (min-width: 992px){
    #info{
        width: 58%;
        font-size: 1rem;
    }
    #kontakt dd{
        padding-right: 40px;
    }
    #predn{
        box-sizing: border-box;
        width: 50%;
        float: left;

    }
    #predn img{
        padding-bottom: 50px;
    }
    #vpravo{
        padding-bottom: 0;
    }
    .nav2{
        display: inline;
    }
    #lastli{
        display: none;
    }
    .nav2 span{
        display: unset;
    }
}
@media only screen and (min-width: 1200px){
    #zahlavie h1,
    #zahlavie h2{
        padding-left: 1rem;
    }
    #zahlavie,
    #zahlavi,
    #tri,
    #tvorba,
    #postfooter{
        max-width: 1200px;
        margin: 0 auto;
    }
}